.edit-menu-web-form{
    .form-edit{
        text-align: center;

        .ant-form-item{
            margin: 5px 0px;

            .ant-input-prefix{
            color: rgba(0,0,0,0.55);
            }
        }
    }
    .btn-submit{
        width: 100%;
    }
}